.form-add-class{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .name-input-class{
        width: 156px;
        padding-top: 20px;
    }
    .input-form-class input{
      width: 205px;
    }
    .startime-input{
        input{
            width: 110px;
        }
    }
}